@font-face {
  font-family: "Cocogoose Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Cocogoose Pro Regular"),
    url("../font/CocogooseProRegular.woff") format("woff");
  /* instruct browser to use the fallback font to display the text until custom font downloaded */
  font-display: swap;
}

h1 {
  font-family: "Cocogoose Pro Regular";
  font-weight: bold;
  font-size: 3.5rem;
  color: #041373;
}

.LoadingDiv {
  /* make the div same height as the whole browser display area */
  /* 1vh = 1% of browser screen height */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
